#results table {
	table-layout:fixed;
	width:100%;
}
#results td {
	vertical-align:top;
}
.row {
	background-color:lightgray;
	line-height:1.5;
}
.id {
	text-align:right;
	width:40px;
}
.option_name {
	text-align:left;
	font-size:14pt;
	width:100px;
	overflow:hidden;
}
.option_value {
	text-align:left;
	font-size:14pt;
	font-family:arial;
	padding:0 0 0 5px;
	border:2pt inset;
	background-color:white;
	width:500px;
	white-space:nowrap;
	overflow:hidden;
}
.option_value #actual_value {
	text-align:left;
	border:0pt;
	margin:0px;
	padding:0px;
}
/*
.row .option_value {
	width:400px;
}
*/
#testBox {
	font-family:courer-new;
	font-size:18pt;
	position:fixed;
	right:0px;
	top:50px;
	width:200px;
	height:150px;
	background-color:white;
	color:black;
}
#searchBox {
	position:fixed;
	top:50px;
	left:200px;
}
#results {
	margin:50px 0px 25px 25px;
}
.killField {
	width:25px;
	text-align:center;
}
.killBTN {
	font-family:courier-new;
	font-size:8pt;
	color:black;
	width:40px;
}
#expanded_value {
	width:800px;
	height:600px;
	overflow:auto;
	background-color:yellow;
	color:red;
	font-size:12pt;
	font-family:monospace;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-400px;
	border:solid 1pt black;
	border-radius:15px;
	box-shadow:10px 10px 10px rgba(0, 0, 0, .5);
	padding:10px;
}